body {
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbfm_xijsH_9MYE4YSikb2rf_3pnpeP5lRmA&usqp=CAU');
    background-size:cover;
    background-repeat: no-repeat;
}